.urare{
    color: red;
    font-size: 100px;
    text-align: center;
    font-family: 'Great Vibes';
    vertical-align: center;
    margin-top: 20%;
    margin-bottom: auto;
}
body{
    background-color: bisque;
}
