.urare{
    color: red;
    font-size: 100px;
    text-align: center;
    font-family: 'Great Vibes';
}
h2{
    color: red;
    font-size: 60px;
    text-align: center;
    font-family: 'Great Vibes';
}
body{
    background-color: bisque;
}

